.content{
    text-align: center;
    margin: 50px;
    color: #a8a8a8;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Gilroy-Regular', serif;
    line-height: 15px;

  }
