.contentWrapper {
  padding: 15px 17px 20px 19px;
  box-sizing: border-box;
  border-radius: 8.772px;
  background: #28252D;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(255, 255, 255, 0.1);
  margin: 20px;
  font-family: 'Gilroy-Regular', serif;

  .content {
    display: flex;
    flex-direction: column;
    gap: 13px;

    .contentItem {
      display: flex;
      gap: 16px;
      justify-content: space-between;

      span, .itemDescription {
        color: #a8a8a8;
        font-size: 20px;
        font-style: normal;
        line-height: 15px;
        font-weight: 500;
        font-family: 'Gilroy-Regular', serif;
      }

      .itemDescription {
        display: flex;
        margin-right: auto;
      }

      .circle {
        max-width: 85px;
        max-height: 85px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .content {
      .contentItem {
        .itemDescription, span {
          font-size: 15px;
        }

        .circle {
          max-width: 61px;
          max-height: 61px;
        }
      }
    }
  }

  @media screen and (max-width: 560px) {
    .content {
      .contentItem {
        justify-content: unset;

        .itemDescription {
          display: unset;
          font-size: 10px;
          line-height: 15px;
          letter-spacing: -0.113px;
        }

        span {
          font-size: 12px;
        }

        .circle {
          max-width: 41px;
          max-height: 41px;
        }
      }
    }
  }
}

::ng-deep .percent {
  font-size: 12px !important;

  @media (max-width: 576px) {
    font-size: 8px !important;
  }
}

::ng-deep .circle {
  min-width: 41px;
  min-height: 41px;
}
