

  <div class="tab f-calistoga" [ngClass]="{ tab_icon_active: tab?.isActive }" [className]="className">
    <div class="circle">
      <img src="assets/images/12121.png" />

      <div class="tab_icon_block">
        <img
          [src]="'assets/icons/' + tab?.content + '.svg'"
          class="tab_icon"
          *ngIf="!tab?.time"
        />

        <div *ngIf="tab?.time" class="tab_time">
          <div>{{ tab?.time.hours }}<span>h</span></div>
          <div>{{ tab?.time.minutes }}<span>m</span></div>
          <div>{{ tab?.time.seconds }}<span>s</span></div>
        </div>
      </div>
    </div>

    <div class="tab_label">{{ tab?.label }}</div>
  </div>

